<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>Createdby:</strong>
    <%= task.createdby %>
  </p>

  <p>
    <strong>Createdat:</strong>
    <%= task.createdat %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= task.completed %>
  </p>

</div>
